@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url(fonts/Poppins-ExtraLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(fonts/Poppins-SemiBold.ttf) format('truetype');
}

:root{
    --header-desc-width: 31.25rem;
    --container-max-width: 22.5rem;
}

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

header{
    font-family: 'Poppins-ExtraLight', sans-serif;
    color: hsl(212, 6%, 44%);
    font-size: 0.938rem;
    text-align: center;
    padding: 1.875rem 1.25rem;
}

.heder-desc{
    max-width: var(--header-desc-width);
}

h1, h2{
    color: hsl(234, 12%, 34%);
    font-size: 1rem;
    margin-bottom: 0.625rem;
    font-family: 'Poppins-SemiBold', sans-serif;
}

main{
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.container{
    max-width: var(--container-max-width);
    font-family: 'Poppins-Regular', sans-serif;
    box-shadow: 0 0 20px hsl(234, 12%, 94%);
    display: flex;
    flex-direction: column;
    padding: 1.875rem;
    font-size: 0.938rem;
    border-radius: 5px;
    overflow: hidden;
    text-align: start;
}

.container span{
    color: hsl(212, 6%, 44%);
}


.container picture{
    align-self: flex-end;
    margin: 1.438rem 0.938rem 1.438rem 0;
}


.item1, .item2,
.item3, .item4{
    position: relative;
}

.item1::before,
.item2::before,
.item3::before,
.item4::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
}


.item1::before{
    background-color: hsl(212, 86%, 64%);
}

.item2::before{
    background-color: hsl(0, 78%, 62%);
}

.item3::before{
    background-color: hsl(34, 97%, 64%);
}

.item4::before{
    background-color: hsl(212, 86%, 64%);
}

@media (min-width: 1440px) {
    body{
        margin-top: 1.875rem;
    }
    main{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-areas: 
        'start center-top end'
        'start center-bottom end';
    }
    .item1{
        grid-area: start;
        align-self: center;
    }
    .item2{
        grid-area: center-top;
    }
    .item3{
        grid-area: center-bottom;
    }
    .item4{
        grid-area: end;
        align-self: center;
    }
    header{
        font-size: 1.125rem;
    }
    .heder-desc{
        max-width: 40rem;
    }
    header h1,
    header span{
        font-size: 2rem;
    }
}




